@tailwind base;
@tailwind components;
@tailwind utilities;

/* React Calendar Styles */

.react-calendar{
    width: 100% !important;
    border: none !important;
    font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText{
    font-weight: 600 !important;
}

.react-calendar__tile--active {
    background: #C3EBFA !important;
    color: black !important;
}

.loading-overlay {
    @apply fixed inset-0 z-[9999] bg-red-600 text-white flex items-center justify-center text-4xl;
  }